<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Revice"
        tools:targetApi="31">

        <!-- osmdroid Tile Caching Path -->
        <meta-data
            android:name="osmdroid.tile.path"
            android:value="osmdroid_tiles" />

        <activity
            android:name=".MapScreen"
            android:exported="false" />
        <activity
            android:name=".ReservationScreen"
            android:exported="false" />
        <activity
            android:name=".DeviceCreation"
            android:exported="false" />
        <activity
            android:name=".Devices"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".AccountCreation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>